#### CREATE LIST

In [1]:
empty_list = []
print(empty_list)

[]

In [1]:
finite_list = [1,2,3,4,5,6,7,8,9]

In [2]:
#LIST using loops

In [3]:
list_1 = [i for i in range(10)]
print(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#check type of list

In [8]:
print(type(list_1))

<class 'list'>

In [6]:
#Create list from collections

In [7]:
set_1 = {1,2,3,4,5,6,7,8,9}
set_list = list(set_1)
print(type(set_1), type(set_list))

<class 'set'> <class 'list'>

#### Create list of custome object

In [25]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    def __str__(self):
        return f'my name is {self.name} and iam {self.age} year old'
    
    def __repr__(self):
        return f'my name is {self.name} and iam {self.age} year old'

In [26]:
p1= Person('lokesh',32)

In [28]:
person_list = [Person('lokesh',32),Person('prajakta',30),Person('Nimbu',1)]

In [29]:
print(person_list)

[my name is lokesh and iam 32 year old, my name is prajakta and iam 30 year old, my name is Nimbu and iam 1 year old]

#### Sort a list return new list

In [36]:
sorted_list_asc = sorted(person_list, key = lambda x : x.age)
print(sorted_list_asc)

[my name is Nimbu and iam 1 year old, my name is prajakta and iam 30 year old, my name is lokesh and iam 32 year old]

In [37]:
sorted_list_desc = sorted(person_list, key = lambda x : x.age, reverse=True)
print(sorted_list_desc)

[my name is lokesh and iam 32 year old, my name is prajakta and iam 30 year old, my name is Nimbu and iam 1 year old]

#### list operation

In [38]:
empty_list = []

In [39]:
# add elemt to list
empty_list.append(1)

In [40]:
print(empty_list)

[1]

In [41]:
# insert used o insert item at given location
empty_list.insert(0,0)

In [42]:
print(empty_list)

[0, 1]

In [43]:
# extends used to append iterable lements to list
empty_list.extend([2,3])
print(empty_list)

[0, 1, 2, 3]

In [44]:
empty_list.extend("ABC")
print(empty_list)

[0, 1, 2, 3, 'A', 'B', 'C']

In [45]:
# list concatination + use to concat two list return new one
concat_list = finite_list + empty_list
print(concat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 'A', 'B', 'C']

In [46]:
print(type(concat_list))

<class 'list'>

In [54]:
number_list = [ num for num in concat_list if str(num).isdigit()]
print(number_list)
print(set(number_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}